.orejime-ModalOverlay,
.orejime-NoticeOverlay {
    z-index: 11200;
}

.orejime-ModalWrapper:focus-visible {
    outline: none;
}

.orejime-Modal {
    background: #fbfbfb;
    color: inherit;
}

.orejime-Modal-header,
.orejime-Modal-body,
.orejime-Modal-footer {
    padding: 1.2em;
}

.orejime-Modal-title {
    padding-bottom: 0.5em;
}

.orejime-Button {
    cursor: pointer;
    margin-right: 1em;
}

.orejime-Button--info.orejime-AppToggles-enableAll {
    background: #008A28;
}

.orejime-Button--info,
.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider {
    background: #3E3D3D;
}

.orejime-AppItem {
    padding: 0.5em;
}

.orejime-AppItem-label {
    margin-bottom: 5px;
}
